<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="s2JVNduYJKGlPRDUOwX2dCyZAkwYcjl1dmk4ClWE5v8" />

    <%= partial "inc/ga" %>
    <%= partial "inc/og" %>

    <title>
      <% if current_page.data.title != "homepage" %>
             <%= current_page.data.title %>
             <%= " | " %>
      <% end %>
      <%= data.site.name %>
    </title>

    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="/style.css">

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

  </head>
  <body>

    <div class="container">
      <header>
        <%= partial "inc/nav" %>
        <h1><a href="/"><%= data.site.name %></a></h1>
        <p><%= data.site.slogan %></p>
      </header>

      <div id="main" role="main">
        <%= yield %>
      </div>
    </div>

    <footer>
      <a href="http://github.com/wi1d5ky">wildsky</a>
    </footer>
  </body>
</html>
