<%
  def is_home
    current_page.data.title == "homepage"
  end
  def is_tag
    current_page.data.type == "tag"
  end
  def is_calendar
    current_page.data.type == "calendar"
  end
%>

<!doctype html>
<html prefix='og: http://ogp.me/ns#'>
  <head>

    <%= partial "inc/ga" %>
    <%= partial "inc/meta" %>

    <title>
      <% if is_tag %>
        <%= "Tag: " + tagname + " | " %>
      <% elsif is_calendar %>
        <% case page_type
           when 'day' %>
          <%= Date.new(year, month, day).strftime('%b %e %Y') %>
        <% when 'month' %>
          <%= Date.new(year, month, 1).strftime('%b %Y') %>
        <% when 'year' %>
          <%= year %>
        <% end %> |
      <% elsif current_page.data.title != "homepage" %>
        <%= current_page.data.title + " | " %>
      <% end %>
      <%= data.site.name %>
    </title>

    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="/style.css" media="bogus">
    <link rel="stylesheet" href="/syntax.css" media="bogus">

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <% unless is_home %>
      <script>
        (function() {
          var d = document, s = d.createElement('script');
          s.src = 'https://wildsky.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
    <% end %>

  </head>
  <body>

    <div class="container">
      <div id="site-header">
        <%= partial "inc/nav" %>
        <header>
          <div class="site-title"><a href="/"><%= data.site.name %></a></div>
          <p class="slogan"><%= data.site.slogan %></p>
        </header>
      </div>

      <div id="main" role="main">

        <% if is_home %>
          <%= yield %>
        <% else %>
          <article>
            <div class="content">
              <h1><%= current_page.data.title %></h1>
              <%= yield %>
            </div>
          </article>
          <%= partial "inc/article_footer" %>
        <% end %>

      </div>
    </div>

    <footer>
      <a href="http://github.com/wildskyf">wildsky</a>
    </footer>

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/syntax.css">
  </body>
</html>
