<%
  def is_post
    /^\/posts\// =~ current_page.url
  end
%>

<!doctype html>
<html>
  <head>

    <%= partial "inc/ga" %>
    <%= partial "inc/meta" %>

    <title>
      <% if current_page.data.title != "homepage" %>
        <%= current_page.data.title + " | " %>
      <% end %>
      <%= data.site.name %>
    </title>

    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/syntax.css">

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <% if is_post %>
      <script>
          (function() {
              var d = document, s = d.createElement('script');
              s.src = 'https://wildsky.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
      </script>
    <% end %>

  </head>
  <body>

    <div class="container">
      <div id="site-header">
        <%= partial "inc/nav" %>
        <header>
          <h1><a href="/"><%= data.site.name %></a></h1>
          <p><%= data.site.slogan %></p>
        </header>
      </div>

      <div id="main" role="main">

        <% unless is_post %>
          <%= yield %>
        <% else %>
          <article>
            <div class="content">
              <h1><%= current_page.data.title %></h1>
              <%= yield %>
            </div>
          </article>
          <%= partial "inc/article_footer" %>
        <% end%>

      </div>
    </div>

    <footer>
      <a href="http://github.com/wildskyf">wildsky</a>
    </footer>
  </body>
</html>
