<!doctype html>
<html>
  <head>

    <%= partial "inc/ga" %>
    <%= partial "inc/meta" %>

    <title>
      <% if current_page.data.title != "homepage" %>
        <%= current_page.data.title + " | " %>
      <% end %>
      <%= data.site.name %>
    </title>

    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/syntax.css">

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <script>
        (function() {  // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://wildsky.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>

  </head>
  <body>

    <div class="container">
      <header class="article_title">
        <%= partial "inc/nav" %>
        <p><a href="/"><%= data.site.author %></a> : </p>
        <h1><%= current_page.data.title %></h1>
      </header>

      <div id="main" role="main">
        <article>
          <div class="content">
            <%= yield %>
          </div>
          <% pages = sitemap.resources.find_all{|p| p.source_file.match(/posts\/.*\.html/)}.sort_by {|p| p.url} %>
          <% pages.each_with_index do |p, index| %>
            <% if p.url == current_page.url %>
              <% next_page = pages[index+1]  %>
              <% prev_page = pages[index-1] %>

              <div class="switch">

                <div class="pre">
                  <%= link_to("《 上一頁", prev_page) unless index == 1 %>
                </div>
                 ☺
                <div class="next">
                  <%= link_to("下一頁 》", next_page) unless index == pages.size - 1 %>
                </div>

              </div>

            <% end %>
          <% end %>
        </article>
        <div id="disqus_thread"></div>
        <noscript>請啟用 JavaScript 以便開啟 <a href="https://disqus.com/?ref_noscript" rel="nofollow">Disqus</a> 的留言功能！</noscript>
      </div>
    </div>

    <footer>
      <a href="http://github.com/wi1d5ky">wildsky</a>
    </footer>
  </body>
</html>
