---
title: homepage
pageable: true
per_page: 10
---

<% if paginate %>
  <p class="page_num">Page <%= page_number %> of <%= num_pages %></p>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <div class="article-wrapper">
    <div class="summary">
      <h2><%= link_to article.title, article %> <time datetime="<%= article.date.strftime('%Y-%m-%d 00:00') %>"><%= article.date.strftime('%b %e') %></time></h2>
      <%= article.summary(300) %>
    </div>
    <div class="readmore">
      <%= link_to "繼續閱讀", article %>
    </div>
  </div>
<% end %>

<% if paginate %>
  <div class="switch">

    <div class="pre">
      <% if num_pages > 1 and prev_page %>
        <%= link_to '《 上一頁', prev_page %>
      <% end %>
    </div>
     ☺
    <div class="next">
      <% if next_page %>
        <%= link_to '下一頁 》', next_page %>
      <% end %>
    </div>

  </div>
<% end %>

